.header-listitem{
    list-style: none;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.header-list{
    
}


.header-logo{
    float: left;
    font-size: 20px;
}

.header{
    
}


.footer-listitem{
    list-style: none;
}
