.header-listitem{
    list-style: none;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.header-list{
    position: fixed;
}

.header-image {
  width: 100%;        /* 横幅を100%に */
  height: auto;       /* 縦横比を維持 */
  display: block;     /* 不要な隙間をなくすためにblock要素にする */
}

.header-logo{
    width: 60px;
    height: 30px;
    object-fit: cover;
}

.header{
    background-color: orange;
    position: relative;   /* 他の要素と重ならないようにする */
}


.footer{
    background-color: #4169e1;
    height: 30px;
    color: white;
}
.footer-list{
    margin-left: 10px;
    padding: 3px;
}
.footer-listitem{
    list-style: none;
    border-width: 5px;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 10px;
}

ul{
    margin: 0px;
    padding: 0px;
}

/* SNSボタン全体 */
.sns-button {
  margin: 3px;
  padding: 0px;
  text-align: center;
  list-style: none;
  overflow: visible;
  padding: 0;
}
.sns-button a {
  text-decoration: none;
}


/* 各 SNS ボタンのボックス */
.sns-button li  {
  display: inline-block; 
  margin: 7px;
  padding: px 0px;
  border-radius: 4px;
  box-shadow:3.8px 3.8px #4c4550;
  width: 70px;
  height: 70px;
  line-hight: 70px;
}

/* アイコン */
.sns-button i {
  text-align:center;
  font-size: 35px;
  margin: 0px;
  padding: 17px 0px 0px 0px;
  color: #fff;
}

/* アイコンホバー */
.sns-button  li:hover { 
 transform: scale(1.2);
 box-shadow: 0px 0px #4c4550; 
}


/* ボタンの色 */
.button_twitter   { background: #1da1f2; }
.button_instagram { background: #e1306c; }
